<a href="https://colab.research.google.com/github/bhoomicodes109/python-projects/blob/main/pyhtonLists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print List Elements and Sum**

In [1]:
numbers=[10,20,30,40,50]
print("Elements are:")
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])
print("Sum of elements is:",sum(numbers))

Elements are:
10
20
30
40
50
Sum of elements is: 150

**Count even and odd number in list**

In [4]:
num_list=[1,4,5,6,7,9,12,14,17,20]
even_count=0
odd_count=0
for i in num_list:
  if i%2==0:
    even_count+=1
  else:
    odd_count+=1
print("Even number=",even_count)
print("Odd numbers=",odd_count)

Even number= 5
Odd numbers= 5

**Largest number in list** -
this can be done using max() function

In [5]:
number=[34,56,23,89,12,78]
largest=number[0]
for num in number:
  if num>largest:
    largest=num
print("Largest number in list=",largest)

Largest number in list= 89

**Reverse the list**

In [8]:
num=[22,12,65,81,76]
reversed_l=[]
for i in range(len(num)-1,-1,-1):
  reversed_l.append(num[i])
print("original list:",num)
print("reversed list:",reversed_l)

#using slicing
print("Reversed list using slicing=",num[::-1])

original list: [22, 12, 65, 81, 76]
reversed list: [76, 81, 65, 12, 22]
Reversed list using slicing= [76, 81, 65, 12, 22]

**Count frequency of each element in list**

In [9]:
number=[1,2,2,3,4,5,5,4,6,7,1,1,8]
freq={}
for n in number:
  if n in freq:
    freq[n]+=1
  else:
    freq[n]=1
for key,value in freq.items():
  print(f"{key} appears {value} times")

1 appears 3 times
2 appears 2 times
3 appears 1 times
4 appears 2 times
5 appears 2 times
6 appears 1 times
7 appears 1 times
8 appears 1 times

**Finding duplicates in list**

In [10]:
my_list=[1,2,2,3,4,1,5,6,4]
duplicate_list=[]
seen=[]
for num in my_list:
  if num in seen:
    if num not in duplicate_list:
      duplicate_list.append(num)
  else:
    seen.append(num)
print("Duplicate elements are:",duplicate_list)

Duplicate elements are: [2, 1, 4]